<div class="col-md-3 mb-3">
  <div class="position-relative mr-1">
    <%= link_to book_path(book), class: 'image-link' do %>
      <%= image_tag image_for_design_type(book), width: "300", height: "300" %>
    <% end %>
    <p class="book-title"><%= book.title %></p>
  </div>
  <div class='ms-auto d-flex'>
    <%= link_to '編集', edit_book_path(book), class: 'btn btn-link' %>
    <%= button_to '削除', book_path(book), method: :delete, data: { turbo_confirm: "削除してもよろしいですか？" }, class: 'btn btn-link' %>
  </div>
</div>
